/*.App {
  text-align: center;
}*/

.App a {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
}

.destination.visited .city {
  text-decoration: line-through;
}
